<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

<section class="vh-100">
  <div class="container py-5 h-90">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-7 col-lg-7 col-xl-6">
        <h1>Welcome to the Freelance Hub!</h1>
        <br>
        <img src="https://freelance-hub.s3.us-east-1.amazonaws.com/freelance.jpg?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEP3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJIMEYCIQDGn969RuP3RJE4zlGBPIHq1CjGsuZS%2FqGHKObbN7UThAIhAM338HYQauvW%2Bqbzbnrr6EXIhY76aALcwNrGt1KqBqbXKuQCCFcQABoMOTQ3OTY4OTQ4NDU0IgzVyTu9Q5Av8YSTT9AqwQJ4Ils7rpXCDmE6pSpIZdYnxGTH6mgCrLiZ67UBnj%2Bc5d7FsPBAPLUgnjp522zdWwtOyxDk%2FPCvc8GiWxpoUEWc5vzXjvVK0XLl%2B13VZvz7pIoyJcdGFYEMj0%2FTVMJIFVSibresPzKKhWJmfvfJC5MPrcbzbYGIoTFM51T1y3juGNAHCvnRvAA3S4HDieBxkTPOnsSlELDypLvAONNW93Z4kT52Hp%2BNJfZTTy%2B9P%2FUHjcfyZUNEjXE0wCkt2TosA4wl%2BqGGE%2Bet5Pg2%2FLgJD1eUf8WkDQ77IAjEdnFi5md%2FTSV75tslsQJNfJT%2BSOf9oL18H0jD7pM%2BS1oun6VkGb0eonPbeL%2BXZ%2FtJ9UtjwvnPbBNWqJEU7LAbdaf2Ivy5f2x7BNwMbmh8LIHqI%2FGtn5%2FvS0ol7N5R7yOuTTLqwNxIAD8w1ujRkAY6sgJ%2F3%2Fu%2BG8qauHggqAbedOyezd67vSV2eKEBwMAL0WJoPLJQPuRBhZVbg909Io1%2FEXAzR7qAQ4ZKEoOZ2jXf0naGgDWHP6u9lNaUwVPkAna1PVNL%2BIoHmeW5opd2nI31SuBzvzH62%2BUWE3yVQU8%2FgCQn%2BSlwhnr%2BK4lsZ6hmAuo5YIXDsIcW5vQE0YbhSIsLprFgaxESKlPx1Sq%2FhrXEoJYXVahgnTaazFrrcOmiVNvw9U42UT7nwAaN4jeqy72YBOEmGVo9CTNBsad%2B1JVu2LkvNQeSfEpFhYZCw9XjFCr04PaqLhelg7FEMeRKLDxX94oEQ%2BOzOTzW2WtM7sZ52JS2ddDZ0GDlec%2F3gHQ81Qhl4wxTHxfeTtRZspBz1x50n6UP%2FGEEWDYDqShbZbY8EvSGKSc%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20220222T053327Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIA5ZN22HDTLODZWN76%2F20220222%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=88522ee24f8749cfac9efd3fa5a642b5ccad2a3b971b875e4a879d3696946127" class="img-fluid" alt="login image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <%= form_for :user do |f| %>   
          <!-- Email input -->
          <div class="form-outline mb-4">
            <%= f.text_field :email, class:"form-control form-control-lg" %>
            <%= f.label "Email", class:"form-label"%>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <%= f.password_field :password, class:"form-control form-control-lg" %>
            <%= f.label "Password", class:"form-label"%>
          </div>
          <!-- Submit button -->
          <%= f.submit "Sign in", class: "btn btn-primary btn-lg btn-block m-0 form-control"%>

          <div class="divider d-flex justify-content-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">Or Sign In Using</p>
          </div>
          
          <a class="btn btn-primary btn-lg btn-block form-control" href='/auth/google_oauth2' role="button">
            <i class="fab fa-google"></i>     Continue with Google
          </a>

          <div class="divider d-flex justify-content-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">Or Sign Up Using Email</p>
          </div>

          <a class="btn btn-primary btn-lg btn-block form-control" href='/signup' role="button">
            Create an Account
          </a>
          <%end%>
      </div>
    </div>
  </div>
</section>