<div class="container">
  <div class="row col-12-lg justify-content-center">
    <div class="col-md-8 mt-5">
      <div class="card col-12-lg text-center shadow mb bg-light rounded">

        <div class="card-body col-12 p-3">
          <div class="h5 card-text text-center text-dark"><%= @post.title%> 
          </div>
          <span><%= render 'favorite' %></span>
        </div>

          <div class="card-body bg-white col-12 rounded p-0 m-0">
            <textarea disabled style="color:black;" rows="18" class="small card-body col-12 bg-white rounded"><%= @post.content %></textarea>
          </div>


        <div><br>
            <p class="text-dark fw-bold">Services:</p>
            <span class="badge badge-white"><%=link_to @post.service.name.upcase, "" %></span>
        <div><br>
  

        <div class="card-footer text-muted">
          <small>Created by <%= @post.user.username %>, on <%= (@post.created_at).to_time.strftime('%B %e %Y at %l:%M %p') %> </br>
          edited <%= time_ago_in_words(@post.updated_at) %> ago</small>
          <br>
          <br>
          <%= link_to "Edit", edit_post_path(@post), class: "btn-sm btn-dark" %>
          <%= link_to "Delete", post_path(@post), class: "btn-sm btn-dark", method: :delete, data: {confirm: "Are you sure?"} if current_user == @post.user%>
        </div>
      </div>
    </div>
  </div>
</div>
